<dx-button mat-flat-button type="default" stylingMode="contained" (onClick)="jsonData()" icon="save">
</dx-button>

<div class="selected-data">
  <span class="caption">Json Value:</span>
  <span>{{jsonValue}}</span>
</div>
<p class="text-with-space"></p>
<dx-data-grid #grid id="gridContainer" [dataSource]="dataSource" keyExpr="id" [allowColumnReordering]="true"
  [showBorders]="true"  [hoverStateEnabled]="true"  >

  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true">
  </dxo-editing>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxi-column dataField="id" caption="Title"></dxi-column>
  <dxi-column dataField="productName" caption="Title"></dxi-column>
  <dxi-column dataField="stock"></dxi-column>
  <dxi-column dataField="price"></dxi-column>
  <dxi-column dataField="currencyType" [width]="180"></dxi-column>
</dx-data-grid>

<div>

  <form class="productAdd-form">
    <dx-form [formData]="formData">
      <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
      <dxi-item>
        <dx-text-box valueChangeEvent="keyup" stylingMode="underlined" label="Product Name" labelMode="floating"
          [(value)]="productName">
        </dx-text-box>

        <dx-text-box valueChangeEvent="keyup" stylingMode="underlined" label="Stock" labelMode="floating"
          [(value)]="stock">
        </dx-text-box>

        <dx-text-box valueChangeEvent="keyup" stylingMode="underlined" label="Price" labelMode="floating"
          [(value)]="price">
        </dx-text-box>

        <dx-text-box valueChangeEvent="keyup" stylingMode="underlined" label="Currency Type" labelMode="floating"
          [(value)]="currencyType">
        </dx-text-box>
      </dxi-item>
    </dx-form>
  </form>
  <dx-button mat-flat-button type="default" stylingMode="contained" (onClick)="addProduct( )" icon="save">
  </dx-button>
</div>
